/* Colors */
$background-color: rgb(246, 246, 246);
// $primary-color: rgb(83, 165, 2);
$primary-color: #0c831c;
$primary-color-hover: #203d05;
$secondary-color: #ff4828;
$secondary-color-hover: #fa765e;

/* Mobile breakpoints */
$medium: 768px;
$small: 480px;